@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Nanum+Myeongjo:wght@400;700;800&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #2FAC5F;
  --color-primary-dull: #107034;
  --color-light: #E7F2EB;
  --color-borderColor: #c4c7d2;
}
